body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.index_container {
  max-width: 1280px;
  margin: 0 auto;
}

.index_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.constructor-element {
  margin-right: 8px;
}

.constructor-element_pos_top,
.constructor-element_pos_bottom {
  margin-right: 16px;
}